
<table class="tx-unriddler" >
	<tr>
		<td>
			<f:translate key="tx_unriddler_domain_model_questions.question" />
		</td>
		<td>
		{questions.question}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_unriddler_domain_model_questions.answer" />
		</td>
		<td>
		{questions.answer}
		</td>
	</tr>
</table>