<div xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns="http://www.w3.org/1999/xhtml"
     lang="en">

    <!-- start: Footer -->
    <f:section name="Footer">
        <footer>
            <div class="container">
                <div class="footer__line"></div>
                <div class="row">
                    <div class="hidden-xs hidden-sm col-md-3">
                        <v:page.menu entryLevel="0" useShortcutTarget="0">
                            <ul class="footer__nav">
                                <f:for each="{menu}" as="subSubItem">
                                    <li class="{subSubItem.class}">
                                        <f:if condition="{subSubItem}">
                                            <f:link.typolink
                                                    parameter="{subSubItem.link}">
                                                {subSubItem.title}
                                            </f:link.typolink>
                                        </f:if>
                                    </li>
                                </f:for>
                            </ul>
                        </v:page.menu>
                    </div>
                    <div class="hidden-xs hidden-sm col-md-3">
                        <v:page.menu pageUid="{settings.config.top_menu}">
                            <ul class="footer__nav">
                                <f:for each="{menu}" as="subSubItem">
                                    <li class="{subSubItem.class}">
                                        <f:if condition="{subSubItem}">
                                            <f:link.typolink
                                                    parameter="{subSubItem.link}">
                                                {subSubItem.title}
                                            </f:link.typolink>
                                        </f:if>
                                    </li>
                                </f:for>
                            </ul>
                        </v:page.menu>
                    </div>
                    <v:content.render contentUids="{0: settings.config.social_media}" render="1"/>
                    <v:content.render contentUids="{0: settings.config.footer_contact}" render="1"/>
                </div>

            </div>
        </footer>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <v:asset.script path="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" external="1"/>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <v:asset.script path="EXT:unriddler_content/Resources/Public/Css/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"/>
    </f:section>
    <!-- end: Footer -->
</div>
