<div xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns="http://www.w3.org/1999/xhtml"
     lang="en">

    <!-- start: Header -->
    <f:section name="Header">

        <v:page.header.meta name="viewport" content="width=device-width, initial-scale=1"/>
        <v:asset.style
                path="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700"
                external="1"/>
        <v:asset.style
                path="EXT:unriddler_content/Resources/Public/Css/vendor/twbs/bootstrap/dist/css/bootstrap.css"/>
        <v:asset.style
                path="EXT:unriddler_content/Resources/Public/Css/unriddler.css"/>

        <v:page.header.link rel="icon"
                            href="{v:extension.path.resources(extensionName: 'unriddler_content', path: 'Icons/favicon.ico')}"/>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <v:asset.script path="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js" external="1"/>
        <v:asset.script path="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" external="1"/>
        <![endif]-->
        <header>
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">
                            <img src='<v:extension.path.resources
                            extensionName="unriddler_content"
                            path="Images/logo.png" />'
                                 width="450"
                                 height="225"
                                 alt="Un-Riddler">
                            <span class="sr-only">unriddler</span>
                        </a>

                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#header-nav" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar top" aria-hidden="true"></span>
                            <span class="icon-bar middle" aria-hidden="true"></span>
                            <span class="icon-bar bottom" aria-hidden="true"></span>
                        </button>
                    </div>

                </nav>
            </div><!-- /.container -->
        </header>
    </f:section>
    <!-- end: Header -->
</div>
