<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns="http://www.w3.org/1999/xhtml" lang="en">

    <f:layout name="Page"/>

    <f:section name="Configuration">
        <flux:form id="homepage" label="{f:translate(key: 'flux.homepage')}"
                   options="{icon: '{f:uri.resource(path: \'Icons/Page/Standard.svg\')}'}">
        </flux:form>
        <flux:grid>
            <flux:grid.row>
                <flux:grid.column colPos="0" name="content" label="{f:translate(key: 'flux.content')}"/>
            </flux:grid.row>
        </flux:grid>
    </f:section>

    <f:section name="Main">
        <!-- start: Header -->
        <f:render section="Header" partial="Header" arguments="{_all}"/>
        <!-- end: Header -->
        <main>
            <section>
                <div class="container">
                    <div class="row">
                        <!-- MAIN -->
                        <div class="row">
                            <v:content.render column="0"/>
                        </div>
                        <!-- END MAIN -->
                    </div>
                </div>
            </section>
        </main>
        <!-- start: Footer -->
        <f:render section="Footer" partial="Footer" arguments="{_all}"/>
        <!-- end: Footer -->
    </f:section>
</div>
