
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Comments</h1>

<f:flashMessages />

<table  class="tx_unriddler" >
	<tr>
		<th><f:translate key="tx_unriddler_domain_model_comments.comment" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{commentss}" as="comments">
		<tr>
			<td><f:link.action action="show" arguments="{comments : comments}"> {comments.comment}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{comments : comments}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{comments : comments}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Comments</f:link.action>
</f:section>