
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Feuser</h1>

<f:flashMessages />

<table  class="tx_unriddler" >
	<tr>
		<th><f:translate key="tx_unriddler_domain_model_feuser.points" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{feusers}" as="feuser">
		<tr>
			<td><f:link.action action="show" arguments="{feuser : feuser}"> {feuser.points}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{feuser : feuser}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{feuser : feuser}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Feuser</f:link.action>
</f:section>